*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(./images/bird.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: large;
    margin-top: 40px;
}
.menu{
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}
.menu a, .logo a, .log-data a{
    text-decoration: none;
    color: white;
}
.logo a{
    font-size: x-large;
}
.logo{
    width: 33%;
    text-align: center;
}
.log-data{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
.log-data button{
    height: 25px;
    width: 60px;
    background-color: turquoise;
    border: 0px;
    border-radius: 20px;
}
.body{
    color: white;
    font-family: sans-serif;
    width: 50%;
    margin: auto;
}
.body h1{
    margin-top: 80px;
}
.play{
    color: red;
    text-align: center;
    font-size: 70px;
    margin-top: 120px;
}
.body p{
    width: 60%;
    margin: auto;
    font-size: medium;
    text-align: center;
    margin-top: 80px;
}